*{
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  background-color: #f1f2f3;
}

.result {
  font-size: 24px;
}

.banner {
  color: #00ff0000;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.nav {
  display: flex;
  width: 340px;
  line-height: 86px;
}

.nav li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.nav li a:hover {
  color: skyblue;
}


.nav>li {
  margin-left: 84px;
}

section {
  position: relative;
  margin: 10%;
  top: 20%;
  left: 2%;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

span {
  padding: 0px 5px;
}
